<div class="race-report-section">
  <%= hidden_field_tag :id %>

  <div class="field">
    <%= label_tag :title %>
    <%= text_field_tag :title %>
  </div>

  <div class="field">
    <%= label_tag :description %>
    <%= text_area_tag :description %>
  </div>

  <div class="field">
    <%= label_tag :order %>
    <%= text_area_tag :order %>
  </div>
</div>
